/*-------------------------------------------- BODY ------------------------------------------------*/
/*body {
    background-color:darkgrey;
}*/

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.226),
            rgba(0, 0, 0, 0.7)),
        url(../img/Imagenes/fondo.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}